$black: #151717;
$gray: #7A7A7A;
$gray-darker: #6b6a6a;

$green: #00CC69;
$green--hover: #33D687;
$green--active: #00A655;
$green--light: #e7fffd;

$red: #EB5757;
$tomato: #FF0000;
$tomato--hover: #b70000;
$red--light: #FFF0F0;
$red--normal: #ffe3e3;
$red--active: #ffc8c8;

$orange: #fb8c00;
$orange--light: #ffa439;
$orange--active: #c77310;

$lightBlue: #37AEE2;

$dark-blue: #011D32;
$blue: #3C4BDC;
$blue--light: #e5f3fe;
$blue--normal: #2196F328;

$transition-speed-long: .45s;
$transition-speed-default: .3s;
$transition-speed-fast: .15s;